@model ProjetoMyTe.AppWeb.Models.Entities.Wbs

@{
    ViewData["Title"] = "AlterarWbs";
}

<div class="container">

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="text-center card-title mb-4">Alterar WBS</h2>
                    <form asp-action="AlterarWbs">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="Id" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Codigo" class="control-label"></label>
                            <input asp-for="Codigo" class="form-control" />
                            <span asp-validation-for="Codigo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tipo" class="control-label"></label>
                            <select asp-for="Tipo" class="form-select">
                                <option value="0">SELECIONE O TIPO</option>
                                <option value="1">Chargeability</option>
                                <option value="2">Non-chargeability</option>

                            </select>

                            <span asp-validation-for="Tipo" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <div class="row gx-2">
                                <div class="col">
                                    <input type="submit" value="Alterar" class="btn btn-primary w-100" />
                                </div>
                                <div class="col">
                                    <a asp-action="ListarWbss" class="btn btn-secondary w-100">Voltar para lista</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .card-title {
        color: #890078;
    }

    .form-control {
        border-radius: 10px;
    }

    .btn-primary {
        border-radius: 10px;
        border: none;
        background-color: #890078;
    }

        .btn-primary:hover {
            background-color: #ff5800;
        }

    .btn-secondary {
        border-radius: 10px;
        border: none;
        background-color: #8c9299;
    }
</style>
