@model ProjetoMyTe.AppWeb.Models.Entities.RegistroHoras

@{
    ViewData["Title"] = "Incluir Registro Diário";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Incluir Registro</h2>
                    <form asp-action="IncluirRegistro" class="mt-5">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="DataRegistro" class="control-label"></label>
                        <input asp-for="DataRegistro" class="form-control" />
                        <span asp-validation-for="DataRegistro" class="text-danger"></span>
                        </div> *@
                        <div class="form-group">
                            <label asp-for="WbsId" class="control-label"></label>
                            <select asp-for="WbsId" asp-items="(SelectList)ViewBag.ListaDeWbss" class="form-select">
                                <option value="0">SELECIONE A WBS</option>
                            </select>
                            <span asp-validation-for="WbsId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Dia" class="control-label"></label>
                            <input type="date" asp-for="Dia" class="form-control" />
                            <span asp-validation-for="Dia" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Horas" class="control-label"></label>
                            <input asp-for="Horas" class="form-control" />
                            <span asp-validation-for="Horas" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <div class="row gx-2">
                                <div class="col">
                                    <input type="submit" value="Adicionar registro" class="btn btn-primary w-100" />
                                </div>
                                <div class="col">
                                    <a asp-action="ListarRegistrosQuinzena" asp-controller="LancamentoHoras" class="btn btn-secondary w-100">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .card-title {
        color: #890078;
    }

    .form-control {
        border-radius: 10px;
    }

    .btn-primary {
        border-radius: 10px;
        border: none;
        background-color: #890078;
    }

        .btn-primary:hover {
            background-color: #6b056b;
        }

    .btn-secondary {
        border-radius: 10px;
        border: none;
        background-color: #8c9299;
    }
</style>
    @* @{
        DateTime date = new DateTime(); date = DateTime.Now;
    } @{
        if (date.Day <= 15)
        {
            DateTime primeiroDiaDaQuinzena = new DateTime(date.Year, date.Month, 1); var day = 1; for (int i = 1; i <= 15; i++)
            {
                <th> @day/@date.Month<br /> @date.DayOfWeek;
                    </th>
            }
        }
    } *@

