@model ProjetoMyTe.AppWeb.Models.Entities.RegistroHoras

@{
    ViewData["Title"] = "Incluir Registro Diário";
}

<h4>Registro de Horas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IncluirRegistro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRegistro" class="control-label"></label>
                <input asp-for="DataRegistro" class="form-control" />
                <span asp-validation-for="DataRegistro" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="WbsId" class="control-label"></label>
                <select asp-for="WbsId" asp-items="(SelectList)ViewBag.ListaDeWbss" class="form-select">
                    <option value="0">SELECIONE A WBS</option>
                </select>
                <span asp-validation-for="WbsId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="CpfId" class="control-label"></label>
                <select asp-for="CpfId" asp-items="(SelectList)ViewBag.ListaDeColaboradores" class="form-select">
                    <option value="0">SELECIONE O COLABORADOR</option>
                </select>
                <span asp-validation-for="CpfId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input type= "date" asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Horas" class="control-label"></label>
                <input asp-for="Horas" class="form-control" min="0" max="8"/>
                <span asp-validation-for="Horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@{
    DateTime date = new DateTime();
    date = DateTime.Now;
}
@{
    if(date.Day <= 15)
    {
        DateTime primeiroDiaDaQuinzena = new DateTime(date.Year, date.Month, 1);
        var day = 1;
        for (int i = 1; i <=15; i++)
        {
            <th>
                @day/@date.Month<br />
                @date.DayOfWeek;
            </th>
        }
    }
}


<div>
    <a asp-action="ListarRegistrosQuinzenais">Voltar para lista</a>
</div>

