@model ProjetoMyTe.AppWeb.Models.Entities.RegistroHoras

@{
    ViewData["Title"] = "Remover Registro";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title text-center">Tem certeza que deseja remover esse registro?</h3>
            <hr />
            <row class="row justify-content-center">
                <div class="col-md-6">
                    <form asp-action="RemoverRegistro">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger btn-lg">
                                Sim, remover
                            </button>
                        <a asp-action="ListarRegistros" class="btn btn-secondary btn-lg">Não, voltar para a lista</a>
                        </div>
                        @* <input type="submit" value="Sim, remover" class="btn btn-danger btn-lg" /> *@
                    </form>

                </div>
            </row>
        </div>

    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }
    .btn-danger, .btn-secondary {
        border-radius: 10px;
        border: none;
    }

    .btn-secondary {
        background-color: #8c9299;
    }

    .btn-lg {
        padding: 5px 15px;
    }

    .card {
        border: none;
        border-radius: 15px;
    }

    .card-title {
        color: #333;
    }
</style>