USE [master]
GO
/****** Object:  Database [DB_MYTE]    Script Date: 5/12/2024 9:25:17 PM ******/
CREATE DATABASE [DB_MYTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MYTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_MYTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_MYTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_MYTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MYTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MYTE]
GO
/****** Object:  Table [dbo].[TB_CARGOS]    Script Date: 5/12/2024 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CARGOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomeCargo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_COLABORADORES]    Script Date: 5/12/2024 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_COLABORADORES](
	[cpf] [varchar](11) NOT NULL,
	[id_cargo] [int] NULL,
	[administrador] [bit] NOT NULL,
	[nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_REGISTRO_DIAS_HORAS]    Script Date: 5/12/2024 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REGISTRO_DIAS_HORAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data_registro] [datetime] NOT NULL,
	[id_wbs] [int] NOT NULL,
	[cpf] [varchar](11) NOT NULL,
	[dia] [date] NOT NULL,
	[horas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_WBS]    Script Date: 5/12/2024 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_WBS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[tipo] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_COLABORADORES]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[TB_CARGOS] ([id])
GO
ALTER TABLE [dbo].[TB_REGISTRO_DIAS_HORAS]  WITH CHECK ADD FOREIGN KEY([id_wbs])
REFERENCES [dbo].[TB_WBS] ([id])
GO
ALTER TABLE [dbo].[TB_REGISTRO_DIAS_HORAS]  WITH CHECK ADD FOREIGN KEY([cpf])
REFERENCES [dbo].[TB_COLABORADORES] ([cpf])
GO
ALTER TABLE [dbo].[TB_COLABORADORES]  WITH CHECK ADD CHECK  ((len([cpf])=(11)))
GO
ALTER TABLE [dbo].[TB_WBS]  WITH CHECK ADD CHECK  ((len([codigo])>(4) AND len([codigo])<(10)))
GO
ALTER TABLE [dbo].[TB_WBS]  WITH CHECK ADD CHECK  (([tipo]=(1) OR [tipo]=(2)))
GO
USE [master]
GO
