@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model ProjetoMyTe.AppWeb.Models.Entities.AlterarSenhaViewModel
@{
    ViewData["Title"] = "Alterar Senha";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4" style="color:#6b056b;">Alterar Senha</h2>
                    <form method="post" asp-action="AlterarSenha" asp-controller="Autenticacao">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CpfId">CPF</label>
                            <input asp-for="CpfId" class="form-control" />
                            <span asp-validation-for="CpfId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SenhaAntiga"></label>
                            <input asp-for="SenhaAntiga" class="form-control" />
                            <span asp-validation-for="SenhaAntiga" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SenhaNova"></label>
                            <input asp-for="SenhaNova" class="form-control" />
                            <span asp-validation-for="SenhaNova" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmaSenha"></label>
                            <input asp-for="ConfirmaSenha" class="form-control" />
                            <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-3">
                            <div class="row gx-2">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary w-100">Alterar senha</button>
                                </div>
                                <div class="col">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        if (User.IsInRole("COLABORADOR"))
                                        {
                                            <a asp-action="ListarRegistrosQuinzena" asp-controller="LancamentoHoras" class="btn btn-secondary w-100">Cancelar</a>
                                        }
                                        else if (User.IsInRole("ADMIN"))
                                        {
                                            <a asp-controller="Wbss" asp-action="ListarWbss" class="btn btn-secondary w-100">Cancelar</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Dashboard" asp-action="ShowDashboard" class="btn btn-secondary w-100">Cancelar</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .btn-primary {
        border-radius: 10px;
        border: none;
        background-color: #890078;
    }

        .btn-primary:hover {
            background-color: #ff5800;
        }

    .btn-secondary {
        border-radius: 10px;
        border: none;
        background-color: #8c9299;
    }
</style>
