@{
    ViewData["Title"] = "Change Password Confirmation";
}


<div class="container mt-5">
    <div class="card shadow " style="background-color: #dcedc8;min-height: 200px; padding: 50px;">
        <div class="card-body">
            <h4 class="card-title text-center">Sua senha foi alterada com sucesso!</h4>
            <div class="text-center mt-5">
                <a asp-action="Login" class="btn btn-primary btn-lg">Fazer login</a>
            </div>
        </div>

    </div>
</div>


<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        width: 70%;
    }

    .card.shadow {
        border-radius: 10px;
    }

    .btn-primary {
        background-color: #ff5800;
        border: none;
        border-radius: 10px;
    }

        .btn-primary:hover {
            background-color: #D94C00;
        }
</style>
