@{
    ViewData["Title"] = "Change Password Confirmation";
}

<h4>
    Your password is successfully changed.
</h4>

<div class="text-center mt-3">
    <a asp-action="Login" class="btn btn-primary w-100" style="background-color: #ff5800; border-radius: 10px;">Fazer login</a>
</div>