@model ProjetoMyTe.AppWeb.Models.Entities.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar";
    Layout = "_LoginLayout";
}
<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-4">
            <form asp-action="Registrar" class="logout-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmaSenha" class="control-label"></label>
                    <input asp-for="ConfirmaSenha" class="form-control" />
                    <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Perfil</label>
                    <select asp-for="Perfil" class="form-select"
                            asp-items="(SelectList)ViewBag.Roles">
                        <option value="">NENHUM PERFIL</option>
                    </select>
                </div>
                <div>
                    <a asp-action="Login" class="btn btn-primary w-100" style="background-color: #ff5800; border-radius: 10px;">Fazer Login</a>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Criar novo usuário" class="btn btn-primary" style="background-color: #ff5800; border-radius: 10px;" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    /* Custom styling for the login form */
    body{
        background: linear-gradient(to top, #890078 40%, #ff5800);
        background-image: url('/Imgs/MyTE Project - decola.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .logout-form {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 20px rgba(70, 69, 69, 0.47);
    }

        .logout-form .form-group {
            margin-bottom: 15px;
        }

        .logout-form label {
            font-weight: bold;
        }

        .logout-form input[type="submit"] {
            width: 100%;
        }
</style>